<header>
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

      <div class="navbar-header">
          <a class="navbar-brand" href="#">
              <span class="glyphicon glyphicon-tree-deciduous"></span>
              Aplikasi Absen
          </a>

          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/rekap">Rekap Absen</a></li>
              <%if(!id_dosen){%>
              <li><a href="/login">Login</a></li>
              <%}else{%>
              <li><a href="/absenmk">Absen Mata Kuliah</a></li>
              <li><a href="/logout">Logout</a></li>
              <%}%>
              <!-- <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/subject">Subject<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                       <li><a href="/subject">Subject</a></li>
                       <li><a href="/subject/add">Add Subject</a></li>
                  </ul>
              </li> -->
              <!-- <li><a href="/login/logout">Log Out</a></li> -->
          </ul>
      </div>
  </div>
  </nav>
</header>
