<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Pair Project</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="/assets/css/bootstrap.min.css"> -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<style>
    body{ padding-top:50px; }
</style>
