<!DOCTYPE html>
<html>
<head>
	<title></title>
    <% include ../partials/head %>
</head>
<body class='container'>
	<main>
		 <% include ../partials/header %>
	    <div class="row">
	    <h1><%=id_dosen%></h1>

	    </div>

		 <% include ../partials/footer %>
	</main>
</body>
</html>
